<% const title="Tasks" ; %>
    <%- include('./includes/header', {title: title}) %>
        <script>
            //redirect if they are logged in already
            const loggedIn = getCookie("loggedIn");
            if (!loggedIn) {
                window.location.href = "/sign-in";
            }
        </script>
        <div class="centertext">
            <h1>
                <%= title %>
            </h1>

            <form id="taskForm" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required><br>

                <label for="description">Description:</label>
                <textarea id="description" name="description"></textarea><br>

                <label for="category">Category:</label>
                <input type="text" id="category" name="category"><br>

                <label for="label">Label:</label>
                <input type="text" id="label" name="label"><br>

                <label for="dueDate">Due Date:</label>
                <input type="date" id="dueDate" name="dueDate"><br>

                <label for="priority">Priority Level: </label>
                <input type="number" id="priority" min="0" max="3" value="0"><br>

                <label for="status">Status: </label>
                <select name="status" id="status">
                    <option value="Not started">Not started</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Complete">Complete</option>

                </select>

                <input type="hidden" id="owner" name="owner" value="" readonly><br><br>

                <input type="submit" value="Create Task">
            </form>
            <div id="messages"> </div>

            <label for="sortTasks">Sort by:</label>
            <select id="sortTasks">
                <option value="name">Name</option>
                <option value="dueDate">Due Date</option>
                <option value="priority">Priority</option>
            </select>

            <!-- Display tasks -->
            <div id="tasks-container">
                <% tasks.forEach(task=> { %>
                    <div class="task-item" id="<%= task._id %>">
                        <h3 class="task-name">
                            <%= task.name %>
                        </h3>
                        <p class="task-description">Description: <%= task.description %>
                        </p>
                        <p class="task-category">Category: <%= task.category %>
                        </p>
                        <p class="task-label">Label: <%= task.label %>
                        </p>
                        <p class="task-dueDate">Due Date: 2024-04-22
                        </p>
                        <p class="task-priority">Priority: <%= task.priority %>
                        </p>
                        <p class="task-status">Status: <%= task.status %>
                        </p>
                        <button id="<%=task._id %>" class="deleteButton">Delete</button>
                        <button class="updateButton">Update</button>
                        <form class="updateForm" style="display: none;">
                            <label for="updateName">Name:</label>
                            <input type="text" id="updateName" name="updateName" value="<%= task.name %>" required><br>
                            <label for="updateDescription">Description:</label>
                            <textarea id="updateDescription"
                                name="updateDescription"><%= task.description %></textarea><br>
                            <label for="updateCategory">Category:</label>
                            <input type="text" id="updateCategory" name="updateCategory"
                                value="<%= task.category %>"><br>
                            <label for="updateLabel">Label:</label>
                            <input type="text" id="updateLabel" name="updateLabel" value="<%= task.label %>"><br>
                            <label for="updateDueDate">Due Date:</label>
                            <input type="date" id="updateDueDate" name="updateDueDate" value="<%= task.dueDate %>"><br>
                            <label for="updatePriority">Priority Level: </label>
                            <input type="number" id="updatePriority" name="updatePriority" min="0" max="3"
                                value="<%= task.priority %>"><br>
                            <label for="status">Status: </label>
                            <select name="status" id="status">
                                <option value="Not started">Not started</option>
                                <option value="In Progress">In Progress</option>
                                <option value="Complete">Complete</option>
                            </select><br><br>

                            <button class="confirmUpdateButton">Confirm</button>
                            <button type="button" class="cancelUpdateButton">Cancel</button>
                        </form>
                    </div>
                    <% }); %>
            </div>

            <!-- Pagination controls -->
            <div class="pagination">

            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="./scripts/tasks.js"></script>

        <footer>

            <div id="task-footer">
                <hr>
                <p> &copy; <span id="currentYear"></span> Christian Weersink and Christina Jackson </p>

                <p> <a href="../information/aboutus.ejs" target="_blank"> <span class="underline">About Us </span>
                        &nbsp; </a> <a href="../information/cookies.ejs" target="_blank">| &nbsp; <span
                            class="underline">Cookie Policy </span> &nbsp;</a> <a href="../information/privacy.ejs"
                        target="_blank">| &nbsp; <span class="underline">Privacy Policy </span></a> </p>
            </div>
            <script>

                var currentYear = new Date().getFullYear();

                document.getElementById('currentYear').textContent = currentYear;
            </script>




        </footer>
        </body>

        </html>